<button class="btn btn-outline-info btn-block pointer" routerLink="/film-form">Add a new film</button><br />

<div class="input-group">
  <input #term (keyup)="search(term.value)" type="text" class="form-control" placeholder="Search Film...">
  <span class="input-group-btn">
    <button class="btn btn-info pointer" type="button">Go!</button>
  </span>
</div><br />

<div class="list-group">
  <li class="list-group-item list-group-item-action custom-list pointer"
      *ngFor= "let item of searchedFilms | async"
      (click)="gotoDetail(item)">
    {{ item.title }}
  </li>
</div>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>